<!-- Page Header -->
<header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Welcome!</h1>
          <hr class="small">
          <span class="subheading">St. Clare Condominiums Homeowner's Association</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <span class="notice" style="text-align: center"><%= notice %><%= alert %></span>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            This is an update post with something important happening...
          </h2>
          <h3 class="post-subtitle">
            Here's a summary of that important stuff...
          </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Jamie Locatis</a> on April 27th, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            This is an update post with something important happening...
          </h2>
        </a>
        <p class="post-meta">Posted by <a href="#">Jamie Locatis</a> on April 27th, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            This is an update post with something important happening...
          </h2>
          <h3 class="post-subtitle">
            Here's a summary of that important stuff...
          </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Jamie Locatis</a> on April 27th, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            This is an update post with something important happening...
          </h2>
          <h3 class="post-subtitle">
            Here's a summary of that important stuff...
          </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Jamie Locatis</a> on April 27th, 2017</p>
      </div>
      <hr>
      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">&copy; <%= Time.now.strftime("%Y") %> St. Clare Condominiums HOA</p>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="/assets/js/jqBootstrapValidation.js"></script>
<script src="/assets/js/contact_me.js"></script>
<!-- Theme JavaScript -->
<script src="/assets/js/clean-blog.min.js"></script>